ul{
    width: 100%;

}
a:hover{
background-color: var(--Green);
color: var(--Off-Black);
font-weight: 600;
}

li {
    list-style: none;
    margin-bottom: 1rem;
}

a {
    color: inherit;
    text-decoration: none;
    background-color: var(--Grey);
    padding: 1em 2em;
    display: block;
    border-radius: 8px;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 700;
    

}